.products-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(600px, auto);
  column-gap: 4vw;
  row-gap: 1em;
}

.card {
  /* border: red solid; */
}

.card-image-placeholder {
  height: 90%;
  width: 100%;
  background-color: #c4c4c4;
}
